<a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('disable', object) }}" style="color:#3c8dbc" onclick="return confirm('Desea Activar al Usuario?')">
    <i class="glyphicon glyphicon-remove"></i>
    Activar  
</a>